*.php text eol=lf
*.phpt text eol=lf
/composer.lock export-ignore
/.github/ export-ignore
/tests export-ignore
/tools export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/baseline.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore