language: php

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3

before_install:
  - composer self-update

install:
  - export COMPOSER_ROOT_VERSION=dev-master
  - composer update

script:
  - composer run test